/* Dropdown menu styles */
.greedy-nav .visible-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #07373a;
  min-width: 160px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 1;
}

.greedy-nav .visible-links .dropdown-content a {
  display: block;
  padding: 4px 8px;
  color: #a5c5c7;
  text-decoration: none;
}

.greedy-nav .visible-links .dropdown-content a:hover {
  color: #41bfc7;
}

.greedy-nav .visible-links .dropdown:hover .dropdown-content {
  display: block;
}

.greedy-nav .visible-links .dropdown-content a:not(:last-child) {
  border-bottom: none;
}
